[submodule "c/bpftool"]
	path = c/bpftool
	url = https://ghproxy.com/https://github.com/libbpf/bpftool
[submodule "c/blazesym"]
	path = c/blazesym
	url = https://ghproxy.com/https://github.com/libbpf/blazesym.git
[submodule "c/libbpf"]
	path = c/libbpf
	url = https://ghproxy.com/https://github.com/libbpf/libbpf.git
