[submodule "libbpf"]
	path = libbpf
	url = https://ghproxy.com/https://github.com/libbpf/libbpf.git
[submodule "bpftool"]
	path = bpftool
	url = https://ghproxy.com/https://github.com/libbpf/bpftool
[submodule "blazesym"]
	path = blazesym
	url = https://ghproxy.com/https://github.com/libbpf/blazesym.git
